.calender_sidebox {
  p {
    color: #444444;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  input {
    margin-bottom: 1rem;
    border-color: #464646;
    padding: 0.5rem;
    outline: none;
    border-radius: 3px;
  }
  .side_details {
    h6 {
      text-align: left;
      font-size: 15px;
      line-height: 17px;
      font-weight: 400;
      padding-bottom: 1rem;
    }
  }
}
